html,
body {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
}

#dive-app {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.dive {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.dive-hide {
    display: none !important;
}

.loading {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    background-color: #ffffff00;
    z-index: 5;
    cursor: pointer;
}

.loading img {
    width: 10rem;
    height: 10rem;
}

.float-div{
    z-index: 9999; 
    position: fixed ! important; 
    bottom: 0px;
    right: 0px;
}

.float-button{
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: auto;
    height: auto;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    display: none;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 2px 5px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}